APP_PORT=3000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=ecoserve_secret
DB_NAME=ecoserve_db
DB_PORT=5432
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta
JWT_SECRET=ecoserve_super_secure_secret_123

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email_anda@gmail.com
SMTP_PASS=password_aplikasi_anda